body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: olivedrab;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.2rem;
}
img {
    height: 300px;
    width: 300px;
}
p {
    background-color: beige;
    height: auto;
    width: 66%;
    font-size: 1rem;
    border-bottom: 5px solid burlywood;
    border-top: 5px solid chocolate;
    margin-top: 0px;
    font-weight: bold;
    padding: 5px
    
}
h2 {
    background-color: chocolate;
    padding: 5px;
    width: 230px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 100;
}
img {
    padding: 0px 5px 5px 0px;
    background: chocolate;
    box-shadow: 3px 10px 10px;
}
img:hover {
    box-shadow: 5px 10px 15px;
    transition-duration: 750ms;
}
h1 {
    background-color: chocolate;
    width: 250px;
    text-align: center;
    border: 2px solid;
    font-weight: 100;
}
#display-results {
    text-align: center;
    display: none;
}
button {
    background: cornflowerblue;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
button:focus {
    background: darksalmon;
}
button:hover {
    background: darksalmon;
}
ul {
    list-style: none;
    margin-left: -2rem;
}
p:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
}