.tower {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: space-around;
    align-items: center;
}
.inside-tower {
    width: 90%;
    height: 30%;
    background-color: black;
}
.mall {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: lightgreen;
}
.inside-mall {
    width: 30%;
    height: 90%;
    background-color: grey;
}

.main {
    display: flex;
    align-items: flex-end;
    justify-content: space-around

}